<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Archivo+Black|Asul|Cardo|Chivo|Eczar|Pathway+Gothic+One|Roboto+Mono|Rubik|Tenor+Sans|Work+Sans" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/monokai-sublime.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  html,
  body {
      width: 100%;
      min-height: 100%;
      margin: 0px;
      background: #f5f5f5;
      font-family: 'Rubik', sans-serif;
      font-size: 13px;
  }

  .side_nav {
      display: inline-block;
      width: 20%;
      position: fixed;
      left: -30%;
      top: 0px;
      bottom: 0px;
      background-color: #1e1e1e;
      z-index: 11;
      color: #d0d0d0;
      box-shadow: 5px 0px 14px rgba(24, 24, 26, 0.56);
      transition: left 2s;
  }

  .side_nav.open {
      left: 0px!important;
      transition: left 2s;
  }

  .overlay {
      width: 100%;
      background-color: rgba(30, 30, 30, 0.48);
      position: fixed;
      height: 100%;
      z-index: 1;
      bottom: 0px;
      left: 0px;
      rigth: 0px;
  }

  .open-overlay {
      overflow: hidden;
  }

  .side_nav a {
      color: #d0d0d0;
      text-decoration: none;
  }

  .side_nav ul {
      margin-top: 45px;
      list-style: none;
      padding: 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
  }

  .side_nav ul:first-child {
      margin-top: 0px;
      flex-direction: row;
  }

  .side_nav ul:first-child li {
      float: left;
      width: 20%;
  }

  .side_nav ul:first-child li a {
      border-left: 1px solid #333;
  }

  .side_nav form {
      display: flex;
  }

  .side_nav form input {
      height: 40px;
      padding: 0px 5px;
      border-width: 1px;
      width: 100%;
  }

  .side_nav form button {
      background: transparent;
      border: 1px solid #333;
  }

  .side_nav ul li a {
      font-size: 1.5em;
      line-height: 2em;
      text-align: center;
      padding: 1% 0%;
      height: 40px;
      width: 100%;
      border-bottom: 1px solid #333;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .side_nav ul li a:first-child {
      border-top: 1px solid #333;
  }

  .side_nav ul li a:hover {
      background-color: #333;
  }

  .side_nav ul li {
      display: inline-block;
  }

  header {
      background-image: url('http://blog.darkiron.fr/uploads/7c3a9028f94e20dc43b4a351d970b35f.jpeg');
      width: 100%;
      height: 50%;
      background-position: bottom;
      background-size: cover;
      color: #fff;
      position: relative;
      display: inline-block;
  }

  .header_content {
      width: 75%;
      margin: 50px auto;
      position: relative;
      font-size: 2.5em;
      padding: 0 15px;
      z-index: 1;
  }

  #menu i {
      text-shadow: 5px 3px 3px #1e1e1e;
  }

  .header_content a {
      color: #fff;
      text-decoration: none;
  }

  section.article_container {
      display: flex;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      padding: 15px;
      flex-wrap: wrap;
      min-height: 80%;
      /*background-color:red;*/
      top: -100px;
      position: relative;
      font-family: 'Chivo', sans-serif;
      font-size: 15px;
  }

  section.article_container article h1 {
      color: #fff;
      font-size: 2em;
      text-align: center;
      font-family: 'Archivo Black', sans-serif;
  }

  section.article_container article h1:before {
      content: "\00ab  ";
  }

  section.article_container article h1:after {
      content: " \00bb";
  }

  .info {
      display: flex;
      justify-content: center;
  }

  .author {
      text-transform: capitalize;
      font-weight: bold;
      width: auto;
      margin-right: 10px
  }

  .comment:before {
      content: '\2022';
      margin-left: 5px;
      margin-right: 5px;
  }

  .up {
      float: right;
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: rgba(0, 0, 0, 0.74);
      ;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      right: 10px;
      bottom: 10px;
  }

  .up a {
      color: #fff;
      font-size: 1.5em;
  }

  .hidden-up {
      visibility: hidden;
  }

  .visible-up {
      visibility: visible;
  }

  footer {
      width: 100%;
      height: 25%;
      background-color: #1e1e1e;
      font-family: 'Work Sans', sans-serif;
      color: #d0d0d0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }

  footer a {
      color: #d0d0d0;
      margin: 2px;
      font-size: 15px;
  }

  @media screen and (max-width: 780px) {
      #menu {
          /*color: #1e1e1e;*/
      }
      .side_nav {
          left: -110%;
          width: 95%;
      }
      section {
          flex-direction: column;
      }
      section article {
          width: 100%;
          min-height: 250px;
      }
      section article:first-child {
          width: 100%;
      }
      header {
          height: 25%;
      }
          .info{
              flex-direction:column;
              align-items:center;
          }
          .info p{
              margin: 5px;
          }
          .article_container h1{
              text-shadow: 1px 1px 5px #888;
          }
  }
  </style>
</head>
<body>
  <nav id="sidenav" class="side_nav">
  		<ul>
  			<li>
  				<a href="#"><i class="fa fa-facebook-official" aria-hidden="true">
  			</i></a>
  			</li>
  			<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  			<li><a href="#"><i class="fa fa-codepen" aria-hidden="true"></i></a></li>
  			<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  			<li><a href="#" class="close"><i class="fa fa-times" aria-hidden="true"></i></a></li>
  		</ul>
  		<form>
  			<input type="text" id="search" placeholder="Search">
  			<button><i class="fa fa-search" aria-hidden="true"></i></button>
  		</form>
  		<ul>
  			<li><a href="">Home</a></li>
  			<li><a href="">Category</a></li>
  			<li><a href="">Contact</a></li>
  		</ul>
  		<footer>
  			2017 - GNU
  		</footer>
  	</nav>
	<header style="background-image: url('{{ asset('uploads/'~ article.thumb.picture ) }}')">
		<div class="header_content">
			<a href="" id="menu">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</a>
		</div>
	</header>
    <section class="article_container">
		<article>
			<h1>{{ article.title }}</h1>
			<div class="info">
				<p class="author">By {{ article.user.username }}</p>
				<p>
					<span>{{  article.datepublication|date('d M Y H:m') }}</span>
					<span class="comment">0 comments</span>
			</div>
			{{ article.description|raw }}
		</article>
	</section>
    <div class="up hidden-up">
        <a href="#top">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </a>
    </div>
	<footer>
		<p>
			<a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-codepen" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		</p>
		<p>foo is a footer ! - MIT Licenced 2017</p>
	</footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script>
  $('document').ready(function() {
  	//menu
  	$('section article').each(function() {
  		$(this).on('touchstart', function() {
  			$(this).addClass('active')
  		});
  		$(this).on('touchend', function() {
  			$(this).remveClass('active')
  		});
  	});
  	$('#menu').on('click', function(e) {
  		e.preventDefault();
  		$(this).find('i').addClass('fa-spin');
  		setTimeout(function() {
  			$('#menu i').removeClass('fa-spin');
  		}, 1000);
  		$('#sidenav').addClass('open');
  		$('body').addClass('open-overlay').prepend('<div class="overlay"></div>');
  		$('.overlay, .close').on('click', function(e) {
  			$(this).addClass('fa-spin');
  			e.preventDefault();
  			$('#sidenav').removeClass('open');
  			$('body').removeClass('open-overlay');
  			$('.overlay').remove();
  			setTimeout(function() {
  				$('.close').removeClass('fa-spin')
  			}, 1000);
  		});
  	});
  	//goto top :
  	var offset = 100;
  	$(window).on('scroll', function() {
  		$('.up').removeClass('visible-up').addClass('hidden-up');
  		if ($(this).scrollTop() > offset) {
  			$('.up').addClass('visible-up').css('bottom',-($(this).scrollTop()) +30);
  		}
  	});
  	$('.up a').on('click', function(e) {
  		e.preventDefault();
			$(this).removeClass('visible-up');
  		$('html,body').animate({
  			scrollTop: 0
  		}, 'slow');
  	});
  });
  </script>
</body>
</html>
