{% extends '/admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Article list</h1>

            <a href="{{ path('admin_new') }}" class="btn btn-primary">{{ 'nouvelle article'|trans}}</a>
            <table class="table">
                <thead class="thead-inverse">
            
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                     
                        <th>Datepublication</th>
                        <th>Datecreation</th>
                        <th>Thumb</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                        <td>{{ article.title }}</td>
                        <td>{% if article.datepublication %}{{ article.datepublication|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if article.datecreation %}{{ article.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if article.thumb != null %}{{article.thumb.picture }}{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('cms_blog_view', { 'slug': article.slug }) }}">{{'voir'|trans}}</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_edit', { 'article': article.id }) }}">{{'editer'|trans}}</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    
{% endblock %}
